<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd 
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd "
	default-autowire="byName">


	<context:property-placeholder location="classpath:jdbc.remote.properties" />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url" value="${jdbc.url}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	</bean>


	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>

	</bean>

	<!-- 配置Hibernate事务管理 -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>


	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="find*" read-only="true" />
			<tx:method name="get*" read-only="true" />
			<tx:method name="batch*" propagation="REQUIRED" />
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut expression="execution(* njci.service.impl.*.*(..))"
			id="serviceMethod" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethod" />
	</aop:config>

	<bean id="userInfoDao" class="njci.dao.impl.UserInfoDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>

	</bean>


	<bean id="packageInfoDao" class="njci.dao.impl.PackageInfoDaoImpl">

		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>

	</bean>

	<bean id="countDao" class="njci.dao.impl.CountDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>

	</bean>

	<bean id="searchDao" class="njci.dao.impl.SearchDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>


	<!-- service层 -->

	<bean id="userInfoService" class="njci.service.impl.UserInfoServiceImpl">
		<property name="userInfoDao" ref="userInfoDao"></property>
	</bean>


	<bean id="packageInfoService" class="njci.service.impl.PackageInfoServiceImpl">

		<property name="packageInfoDao">
			<ref bean="packageInfoDao" />
		</property>

	</bean>

	<bean id="countService" class="njci.service.impl.CountServiceImpl">
		<property name="countDao" ref="countDao"></property>

	</bean>

	<bean id="searchService" class="njci.service.impl.SearchServiceImpl">
		<property name="searchDao" ref="searchDao"></property>
	</bean>



	<!-- action层 -->
	<bean id="userInfoAction" class="njci.action.UserInfoAction">
		<property name="userInfoService" ref="userInfoService"></property>
	</bean>



	<bean id="packageInfoAction" class="njci.action.PackageInfoAction">
		<property name="packageInfoService" ref="packageInfoService">

		</property>
		<property name="searchService" ref="searchService"></property>
		<property name="countService" ref="countService"></property>

	</bean>

	<bean id="countAction" class="njci.action.CountAction">
		<property name="countService" ref="countService"></property>

	</bean>

	<!-- 上传的action    不用注入 -->
	<bean id="fileUploadAction" class="njci.action.FileUploadAction">

	</bean>

</beans>
